@font-face {
  font-family: "ReformaGrotesk";
  src: url("../../font/ReformaGroteskMedium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "ReformaGrotesk";
  src: url("../../font/ReformaGroteskDemi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "ReformaGrotesk";
  src: url("../../font/ReformaGroteskBold.woff") format("woff");
  font-weight: 700;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2.0833333333vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav .nav__list-item {
  margin-right: 2.0833333333vw;
}
.header__nav .nav__list-item:last-child {
  margin-right: 0;
}
.header__nav .nav__list-item a {
  text-decoration: none;
  color: #FFF;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 120%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__title {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 2.7083333333vw;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 2.0833333333vw;
}
.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 11.4583333333vw;
}
.footer__info ul div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__info ul div .footer__info-text:last-child {
  margin-left: 1.5625vw;
}
.footer__info-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__info-text span {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8333333333vw;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 0.05em;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  background-image: url(../../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px dashed #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 22.962962963vh;
}
.hero__text {
  color: #FFF;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 2.0833333333vw;
  line-height: 120%;
  margin: 3.7037037037vh 0;
  text-align: center;
}
.hero .button {
  margin-bottom: 9.537037037vh;
}
.hero .row {
  background: linear-gradient(180deg, rgba(20, 20, 20, 0.8) 78.8%, #141414 100%);
  margin-bottom: 7.4074074074vh;
}
.hero__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid #FFFFFF;
  border-left: none;
  box-sizing: border-box;
  padding: 2.0833333333vw 0;
}
.hero__info:last-child {
  border-right: none;
}
.hero__info-text {
  color: #FFF;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375vw;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 1.8518518519vh;
}
.hero__info-list li {
  color: #DB3138;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 140%;
  text-transform: uppercase;
}

.achievement {
  color: #FFF;
}
.achievement .row {
  justify-content: space-around;
}
.achievement__title {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 2.7083333333vw;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 2.0833333333vw;
}
.achievement__text {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 120%;
  margin-top: 3.125vw;
  width: 27.3958333333vw;
}
.achievement .rhombys {
  margin-left: 0.2604166667vw;
}
.achievement__reward .col-6 {
  text-align: center;
}
.achievement__reward .col-6:last-child {
  margin-top: 3.7037037037vh;
}
.achievement__reward-list li {
  border: 1px solid #FFFFFF;
  padding: 2.3148148148vh 1.09375vw 3.2407407407vh 1.0416666667vw;
}
.achievement__reward-title {
  color: #DB3138;
  text-transform: uppercase;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 2.7083333333vw;
  line-height: 140%;
}
.achievement__reward-title span {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 140%;
}
.achievement__reward-text {
  text-transform: uppercase;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8333333333vw;
  line-height: 140%;
}
.achievement__reward-img {
  margin-bottom: 2.037037037vh;
  width: 1.9791666667vw;
  height: 2.3958333333vw;
}

.events .row .col-4 {
  padding-right: 1.25vw;
  box-sizing: border-box;
  position: relative;
}
.events__info {
  position: absolute;
  height: 9.7222222222vh;
  width: 19.0625vw;
  left: 1.3020833333vw;
  bottom: -2.734375vw;
  background: linear-gradient(to bottom, #DB3138 70%, transparent 30%);
  padding: 1.5625vw 3.1770833333vw 0 3.1770833333vw;
  box-sizing: border-box;
}
.events__info-text {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375vw;
  line-height: 140%;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}
.events__slider {
  height: 46.2962962963vh;
  position: relative;
}
.events__slider .slick-prev {
  left: -6.25vw;
  top: 50%;
}
.events__slider .slick-next {
  right: -6.25vw;
  top: 50%;
}

.quality__list .rhombys {
  margin-left: 38%;
}
.quality__item {
  margin: 3.7037037037vh 0 3.7037037037vh 0;
}
.quality__item-head {
  display: flex;
  justify-content: start;
  align-items: center;
}
.quality__item:first-child {
  margin-top: 0;
}
.quality__item:last-child {
  margin-bottom: 0;
}
.quality__title {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6666666667vw;
  line-height: 140%;
  color: #FFF;
  margin-left: 2.0833333333vw;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.quality__text {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 120%;
  color: #FFF;
  margin-top: 1.5625vw;
  letter-spacing: 0.05em;
}
.quality__slider {
  position: relative;
}
.quality__slider .slick-prev {
  left: 0.78125vw;
  bottom: 0vh;
}
.quality__slider .slick-next {
  right: 0.78125vw;
  bottom: 0vh;
}
.quality__slider-item {
  height: 75vh;
}
.quality__slider-item img {
  height: 58.8888888889vh;
  width: 100%;
}
.quality__slider-text {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375vw;
  line-height: 140%;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  margin-top: 9.2592592593vh;
  margin-left: 5.9895833333vw;
  width: 19.7916666667vw;
}
.quality .col-6 {
  padding: 1.3020833333vw;
  box-sizing: border-box;
}

.services .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__title {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 2.7083333333vw;
  line-height: 140%;
  color: #FFF;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 2.0833333333vw;
}
.services__buttons {
  margin-top: 3.125vw;
  margin-bottom: 4.1666666667vw;
}
.services__buttons button {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6666666667vw;
  line-height: 140%;
  color: #FFF;
  text-transform: uppercase;
  padding: 1.8518518519vh 1.5625vw;
  background-color: transparent;
  margin-right: 3.125vw;
  border: none;
}
.services__buttons button:last-child {
  margin-right: 0;
}
.services__buttons .active {
  background-color: #DB3138;
}
.services__list .col-3 {
  width: 23.6%;
}
.services__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #898989;
  box-sizing: border-box;
  padding: 5.5555555556vh 2.0833333333vw 4.6296296296vh;
  margin-right: 1.25vw;
}
.services__item:last-child {
  margin-right: 0;
}
.services__item .button {
  width: 4.84375vw;
}
.services__item img {
  height: 3.6458333333vw;
}
.services__item-title {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 140%;
  color: #FFF;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 2.7777777778vh 0 1.8518518519vh;
}
.services__item-text {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8333333333vw;
  line-height: 140%;
  color: #FFF;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 1.3020833333vw;
  text-align: center;
}

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.works__title {
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 2.7083333333vw;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 2.0833333333vw;
}
.works ul {
  margin-top: 3.125vw;
}

body {
  background: #1E1E1E;
  font-family: "ReformaGrotesk";
}

body, div, span, p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.burger svg {
  width: 2.6041666667vw;
  height: 2.3148148148vh;
}

.main__title {
  color: #DB3138;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 7.8125vw;
  line-height: 125%;
}

.rhombys {
  width: 7.8125vw;
}
.rhombys span {
  width: 0.5208333333vw;
  height: 0.5208333333vw;
  margin-right: 1.5625vw;
  display: inline-block;
  background-color: #DB3138;
  transform: rotate(45deg);
}
.rhombys span:last-child {
  margin-right: 0;
}

.button {
  color: #FFF;
  font-family: "ReformaGrotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 140%;
  border: none;
  background: linear-gradient(to right, #DB3138 70%, transparent 30%);
  padding: 1.3888888889vh 0 1.1111111111vh 1.3020833333vw;
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-2 {
  width: 16.6%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.container {
  max-width: 67.5vw;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 9.375vw;
}

.slider button {
  position: absolute;
  transform: rotate(45deg);
  width: 3.6458333333vw;
  height: 3.6458333333vw;
  background: transparent;
  border: 3px solid #DB3138;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider button svg {
  transform: rotate(-45deg);
}/*# sourceMappingURL=index.css.map */