@font-face {
    font-family: "ReformaGrotesk";
    src: url("../../font/ReformaGroteskMedium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "ReformaGrotesk";
    src: url("../../font/ReformaGroteskDemi.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "ReformaGrotesk";
    src: url("../../font/ReformaGroteskBold.woff") format("woff");
    font-weight: 700;
}