@mixin font($size, $weigth, $height, $fontFamily:'ReformaGrotesk') {
	font-family: $fontFamily;
	font-style: normal;
	font-weight: $weigth;
	font-size: $size;
	line-height: $height;
};

@mixin flex($justify:center, $align:center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin mobile() {
	@media screen and (max-width: 768px) {
		@content
	}
}